In [1]:
!wget cs.uit.edu.vn/data2.txt
!head -n 10 data2.txt

--2022-04-18 07:14:02--  http://cs.uit.edu.vn/data2.txt
Resolving cs.uit.edu.vn (cs.uit.edu.vn)... 45.122.249.78, 118.69.123.142
Connecting to cs.uit.edu.vn (cs.uit.edu.vn)|45.122.249.78|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1203726 (1.1M) [text/plain]
Saving to: ‘data2.txt’

data2.txt           100%[===================>]   1.15M  1.09MB/s    in 1.1s

2022-04-18 07:14:07 (1.09 MB/s) - ‘data2.txt’ saved [1203726/1203726]

6083695,0.521842
1954367,0.152648
3734185,0.298548
5839301,0.46048
6343427,0.527977
1355574,0.0980122
725488,0.0482375
1191887,0.0893039
4556292,0.378561
9989596,0.832734

In [2]:
!wc -l data2.txt

71115 data2.txt

In [3]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [4]:
data2 = pd.read_csv('data2.txt', header=None)

In [5]:
data2.columns = ['x','y']
print(data2)

             x         y
0      6083695  0.521842
1      1954367  0.152648
2      3734185  0.298548
3      5839301  0.460480
4      6343427  0.527977
...        ...       ...
71110  4472112  0.350379
71111  5471895  0.429955
71112  9837364  0.801394
71113  9466593  0.776407
71114  4080801  0.314468

[71115 rows x 2 columns]

In [6]:
model = sklearn.linear_model.LinearRegression()
X=data2['x'].values.reshape(-1,1)

In [7]:
model.fit(X, data2['y'])

LinearRegression()

In [14]:
a=model.coef_
b= model.intercept_
print(a)
print(b)

[8.45569856e-08]
-0.015895527000496068

In [8]:
y_predict = model.predict(X)
print(y_predict)

[0.49852338 0.14935986 0.2998559  ... 0.81592232 0.78457104 0.3291647 ]

In [9]:
#mean_square_error
print(sum((y_predict - data2['y'])**2)/len(data2['y']))

0.00014337728721748892

In [10]:
!wget cs.uit.edu.vn/data4.txt

--2022-04-18 07:14:49--  http://cs.uit.edu.vn/data4.txt
Resolving cs.uit.edu.vn (cs.uit.edu.vn)... 45.122.249.78, 118.69.123.142
Connecting to cs.uit.edu.vn (cs.uit.edu.vn)|45.122.249.78|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 101704 (99K) [text/plain]
Saving to: ‘data4.txt’

data4.txt           100%[===================>]  99.32K   185KB/s    in 0.5s

2022-04-18 07:14:50 (185 KB/s) - ‘data4.txt’ saved [101704/101704]

In [11]:
data4 = pd.read_csv('data4.txt', header=None)
data4.head()

          0        1
0  50142057  5.51836
1  65232531  7.18304
2  67683741  6.94395
3  59798449  5.48383
4  62297119  5.65503

In [12]:
data4.columns = ['x','y']
data4

             x        y
0     50142057  5.51836
1     65232531  7.18304
2     67683741  6.94395
3     59798449  5.48383
4     62297119  5.65503
...        ...      ...
6018  54062895  4.95203
6019  67529727  6.28587
6020  60771350  5.57836
6021  62607526  5.78302
6022  50888821  4.61823

[6023 rows x 2 columns]

#cach 1

In [15]:
y4_predict = a[0]*data4['x']+b
y4_predict

0       4.223966
1       5.499971
2       5.707238
3       5.040481
4       5.251761
          ...
6018    4.555500
6019    5.694215
6020    5.122747
6021    5.278008
6022    4.287110
Name: x, Length: 6023, dtype: float64

In [16]:
#mean_square_error data4
print(sum((y4_predict - data4['y'])**2)/len(data4['y']))

0.22348476817425994

#cach2

In [18]:
y4m_predict = model.predict(data4['x'].values.reshape(-1,1))
y4m_predict

array([4.22396566, 5.49997066, 5.70723759, ..., 5.12274664, 5.27800815,
       4.28710978])

In [19]:
#mean_square_error data4
print(sum((y4m_predict - data4['y'])**2)/len(data4['y']))

0.22348476817425994